# Ignore these directories
stylesheets/
wp-admin/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/plugins/
!wp-content/plugins/slidetabs
wp-content/cache/
wp-content/backups/
wp-includes/

# Ignore these files
.htaccess
sitemap.xml
*.log
sitemap.xml.gz
wp-config.php
wp-content/themes/index.php
wp-content/advanced-cache.php
wp-content/index.php
wp-content/wp-cache-config.php
/*.php
/*.html
/*.pdf
/*.js
/*.css
/*.txt
error_log
favicon.ico
/.buildpath
/.project
/.settings/
.idea/
